/*	INICIO  |  REMOVER CONTATO DO RODAPE*/

li.form-contato {
  display: none;
}

/*	FIM  |  REMOVER CONTATO DO RODAPE*/

/*	INICIO  |  BANNER VIDEO MESSAGEM  + CSS*/

button#btn_uff_modal {
  display: none;
}

.video_modal_uff {
padding: 2rem 0rem;
}

#idCertificatevideo {
width: 100%;
height: auto;
min-height: 300px;
}

/*	FIM  |  BANNER VIDEO MESSAGEM + CSS*/


/* INICIO | REMOVER CAMPOS DO COMENTARIO {UPLOAD IMAGEM VIDEOS DOCUMENTOS}*/

button#insertImage-2 {
  display: none;
}

button#insertFile-2 {
  display: none;
}
button#insertVideo-2 {
  display: none;
}

.fr-quick-insert {
  display: none;
}
/* FIM | REMOVER CAMPOS DO COMENTARIO {UPLOAD IMAGEM VIDEOS DOCUMENTOS}*/



/*	INICIO | SCRIPT ADICIONAR HELPDESK NO CURSO OBS:TROCAR LINK + CSS  */

.img_professor a {
  display: none;
}
.btn_ss {
  margin-top: 18px;
}

td.val_md.text-center.nome_professor {
  display: none;
}

/*	FIM | SCRIPT ADICIONAR HELPDESK NO CURSO OBS:TROCAR LINK + CSS  */


/* INICIO | REMOVER BARRA DE PROGRESSO CURSOS */

.container.lis_aulas .row .col-md-12 .table-responsive .progress.progress-striped.active.progresso-curso{
  display: none;
}

/* FIM | REMOVER BARRA DE PROGRESSO CURSOS */


/* INICIO | LINK NÃO CONSEGUE SE AUTENTICAR */

[href="#autenticacao"] {
  display: none;
}

/* FIM | LINK NÃO CONSEGUE SE AUTENTICAR */

/*	INICIO | REMOVER NOSSOS NUMEROS*/

.rodape .numeros { display: none; }

/*  FIM | REMOVER NOSSOS NUMEROS	*/

/*	INICIO | REMOVER ICONE GRAFICO DENTRO DO CURSO  */

td.text-center.icone_grafico {
  display: none;
}

/*  FIM | REMOVER ICONE GRAFICO DENTRO DO CURSO	*/

/*	INICIO | REMOVER ANDAMENTO CURSO, DENTRO DO CURSO  */

.progress.progress-striped.active.progresso-curso {
  display: none;
}

td.val_md.text-center.info_progresso {
  display: none;
}

/*  FIM | REMOVER ANDAMENTO CURSO, DENTRO DO CURSO	*/

/*	INICIO | REMOVER A PALAVRA COORDENAÇÃO DO CURSO + SCRIPT  */

.nome_professor strong {
  display: none;
}

.alterar_nome_professor strong {
  display: block;
}

/*  FIM | REMOVER A PALAVRA COORDENAÇÃO DO CURSO + SCRIPT	*/


/*	INICIO | REMOVER BOTÃO SUGESTÃO	*/

.urp-no-hide {
  display: none !important;
}

/*	FIM | REMOVER BOTÃO SUGESTÃO */

/*	INICIO | REMOVER RODAPÉ CONTATO	*/

.col-sm-4.col-md-4.contato {
  display: none;
}

/*	FIM | REMOVER RODAPÉ CONTATO	*/


/*	INICIO | NOME AO LADO DA FOTO DEIXANDO ELE BRANCO */

a#dropdownMenutopo strong {
  color: #fff !important;
}

/*	FIM |  NOME AO LADO DA FOTO DEIXANDO ELE BRANCO */


/*	INICIO |  QUEBRA DE TEXTO MOBILE */

@media only screen and (max-width: 800px) {
  .table-responsive>.table>tbody>tr>td, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>td, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>thead>tr>th {
    white-space: normal;
  }
}

/*	FIM |  QUEBRA DE TEXTO MOBILE */

/*	INICIO |  REMOVER TRASPARENCIA BARRA */

.navbar-default:after, .news, .navbar-default .item_sub:hover ul li a, .det-loja .avaliacao .bg-color, .det-loja .conteudo .abas .social {
  opacity: 1;
}

/*	FIM |  REMOVER TRASPARENCIA BARRA */


/*	INICIO |  REMOVER FORUM DA BARRA + SCRIPT */

li.active.forum {
  display: none;
}

li.active.forum.estudos {
  display: block;
}

/*	FIM |  REMOVER FORUM DA BARRA + SCRIPT */

/*	INICIO |  REMOVER FORUM DA BARRA + SCRIPT */

.container.forum .row .col-sm-3.col-md-5 {
  display: none;
}

.container.forum .row .col-sm-9.col-md-7 {
  display: none;
}

.container.forum .row.estudos .col-sm-3.col-md-5.estudos {
  display: block;
}

.container.forum .row.estudos .col-sm-9.col-md-7.estudos {
  display: block;
}


/*	FIM |  REMOVER FORUM DA BARRA + SCRIPT */


